<h3 i18n="cart">Cart</h3>

<p>
  <a routerLink="/shipping" i18n="shipping_prices">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name" i18n="shippingName">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address" i18n="shippingAddress"> 
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit" i18n="purchase">Purchase</button>

</form>
